<footer class="footer">
    <div class="footer-content">
        <h3>GunsDirect</h3>
        <p>&copy; 2024 GunsDirect. All rights reserved.</p>
        <div class="social-icons">
            <a href="#" class="icon">Facebook</a>
            <a href="#" class="icon">Twitter</a>
            <a href="#" class="icon">Instagram</a>
        </div>
    </div>

    <div class="contact-info">
        <p>Телефон: <a href="tel:+359123456789">+359 123 456 789</a></p>
        <p>Имейл: <a href="mailto:info&#64;gunsdirect.com">info&#64;gunsdirect.com</a></p>
        <p>Адрес: ул. Оръжие 1, Варна, България</p>
    </div>

    <div class="licensing-info">
        <p>Продажбата на оръжия се извършва съгласно действащото законодателство. Клиентите трябва да представят необходимите документи за покупка.</p>
    </div>
    
</footer>