<base-page-template [basePageReference]="this">
<div class="container-fluid">
    <div class="row my-3">
        <div class="col">
            <img src="https://zarimex.eu/image/cache/catalog/Baners/2024/birthday_zarimex_24-1243x566.jpg"/>
        </div>
        <div class="col"> 
                <div class="col">
                    <img src="https://zarimex.eu/image/cache/catalog/Baners/2024/hikmicro-new-thunder-bg-627x277h.png"/>
                </div>
                <div class="col my-2">
                    <img src="https://zarimex.eu/image/cache/catalog/Baners/2024/black_bunker_bg-627x278.png"/>
                </div>
        </div>
    </div>
    <div class="row">
       <div class="col-12">
            <h4>Разгледайте нашите най-нови продукти</h4>
        </div>
       </div>
    </div>
<router-outlet></router-outlet>
</base-page-template>


