@if(this.position == "column"){
<label [for]="this.interactor.getUniqueElementId()" class="form-label">Парола:</label>
<input type="password" class="form-control" [(ngModel)]="this._textValue" (change)="transferDataToInteractor()"
    [id]="this.interactor.getUniqueElementId()" placeholder="Парола" (input)="onInput($event)">
}
@else{
<div class="row">

    <div class="col">
        <label [for]="this.interactor.getUniqueElementId()" class="form-label">{{this.lableTextValue}}</label>

    </div>
    <div class="col-9"><input type="password" class="form-control" [(ngModel)]="this._textValue"
            (change)="transferDataToInteractor()" [id]="this.interactor.getUniqueElementId()"
            [placeholder]="this.placeholderValue" (input)="onInput($event)"></div>
</div>
}