<base-page-template [basePageReference]="this">
    <div class="container content p-0">
        <h1 class="page-title">
            Калъф за бинокъл HIKMICRO Habrok
        </h1>
        <div class="row">
            <div class="col">
                <div class="product-left">
                    <img src="https://zarimex.eu/image/cache/catalog/data/Hikmicro/Harness-H-660x660w.jpg" />
                </div>
            </div>
            <div class="col">
                <div class="produtc-right">
                    <div class="product-details">
                        <div class="info-block">
                            <p>Продуктът отговаря на условията за безплатна доставка</p>
                        </div>
                        <div class="ratings-section">
                            <div class="rating-stars">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <a>Базирано на 0 коментара.</a>
                                <a> / Задай въпрос</a>
                            </div>
                        </div>
                        <div class="product-price-group">
                            <div class="price-wrapper">
                                <div class="price-group">
                                    <div class="product-price">
                                        300.00 лв.
                                    </div>
                                </div>
                                <a class="add-to-cart-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23 " fill="currentColor"
                                        class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                    </svg>
                                    Добави в количката
                                </a>

                                <div class="product-description">
                                    <h3>Описание на продукта</h3>
                                    <p>Този калъф за бинокъл HIKMICRO Habrok предлага отлично защитено решение за носене на бинокли с висококачествени материали и удобство при използване. Идеален за ловци, туристи и изследователи.</p>
                                </div>
                                
                                <div class="product-specifications">
                                    <h3>Характеристики</h3>
                                    <ul>
                                        <li><strong>Материал:</strong> Неръждаема стомана и кожа</li>
                                        <li><strong>Размери:</strong> 25 см x 10 см x 10 см</li>
                                        <li><strong>Тегло:</strong> 300 г</li>
                                        <li><strong>Цвят:</strong> Черен</li>
                                        <li><strong>Производител:</strong> HIKMICRO</li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</base-page-template>