.navbar{
    background-color: #ECECEC !important;
    height: 50px;
}

.navbar-middle{
    height: 60px;
    background-color: #FAFAFA;
}

.navbar-top{
    height: 30px;
    background-color: #EAD9D8;
}

.navbar-brand{
    margin-top: 18px;
    margin-left: 15px;
    float: left;
}

.free-order {
    text-decoration: none;
    color: #742a18;
    font-weight: 900;
}

.free-order:hover {
   color: white;
}

.nav-item{
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.nav-item:hover{
    border: #EAD9D8 1px solid;
    background-color: #EAD9D8;
    border-radius: 15px;
}

.nav-link:hover{
    color: #ad5953;
}

.search-bar-section{
    margin-top: 6px;
}