.product-card {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: 300px;
    background-color: white;
    border: 1px solid rgba(225, 225, 225, 1)
}

.product-card .image{
    margin: auto;
    text-align: center;
    display: block;
}

.caption-section{
    padding-top: 5px;
    width: 300px;
    height: 30px;
    background: radial-gradient(circle, rgba(172,170,170,1) 0%, rgba(255,255,255,1) 98%);
}

.caption{
    font-size: 13px;
    font-weight: bold; 
    color: rgba(189, 20, 26, 1);
    text-align: center;
    text-transform: uppercase;
}

.description{
    width: 300px;
    height: 60px;
    padding: 1px;
    text-align: center;
}

.stats{
    justify-content: end;
    width: 300px;
    height: 60px;
}

.price{
}

.add-to-cart-btn{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 44px;
    height: 44px;
    box-shadow: none;
    background-color: #EAD9D8;
    border-radius: 8px;
}