.product-card {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: 250px;
    background-color: white;
    border: 1px solid rgba(225, 225, 225, 1)
}

.product-card:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.product-card .image img{
    width: 245px;
}

.caption-section{
    padding-top: 5px;
    width: 250px;
    height: 30px;
    background: radial-gradient(circle, rgba(172,170,170,1) 0%, rgba(255,255,255,1) 98%);
}

.caption{
    font-size: 13px;
    font-weight: bold; 
    color: rgba(189, 20, 26, 1);
    text-align: center;
    text-transform: uppercase;
}

.description{
    font-family: 'Exo 2';
    width: 250px;
    height: 60px;
    padding: 1px;
    text-align: center;
    color: rgba(41, 41, 43, 1);
    font-family: 'Exo 2';
    font-weight: 600;
    font-size: 14px;
    text-wrap: pretty;
}

.price-group{
    float: left;
    margin-top: 30px;
    margin-right: 90px;
}

.price-text{
    font-family: 'Exo 2';
    font-weight: 500;
    font-size: 15px;
  }

.add-to-cart-btn{
    margin-top: 7px;
    width: 44px;
    height: 44px;
    box-shadow: none;
    background-color: #EAD9D8;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    display: inline-flex;
}

.add-to-cart-btn:hover {
  background-color:  #A81015;
}

.add-to-cart-btn:hover .bi-cart-check{
    fill: #F5F5F5;
} 